<div class="container">
    <p class="badge rounded-pill text-bg-primary">{{productMessage}}</p>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr valign="middle">
                <th width="170">Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Discription</th>
                <th>Color</th>
                <th>Action</th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let item of productList" valign="middle">
                    <td><img [src]="item.imageUrl" class="card-img-top" [alt]="item.name" width="150"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><span class="badge rounded-pill bg-primary">{{item.category}}</span></td>
                    <td>{{item.discription}}</td>
                    <td>{{item.color}}</td>
                    
                    <td>
                        <button class="btn btn-danger me-2" (click)="deleteProduct(item.id)"><fa-icon [icon]="icon" width="40"></fa-icon></button>
                        <a class="btn btn-primary" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="EditIcon" width="40"></fa-icon></a>
                    </td>
                </tr>
            </tbody>
      
        </table>
    </div>
</div>