<p>form-event works!</p>

<div class="row">
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <button #addBtn class="btn btn-primary">
                    add
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <ul class="list-group" id="elContener">
                    <li class="list-group-item">Video 0</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header">List</div>
            <div class="card-body">
                <ul class="list-group" id="elContener2">
                    <li class="list-group-item">Video 0</li>
                </ul>
            </div>
        </div>
    </div>
   
</div>