<div class="row">
    <div class="col-md-12">
        <ul class="list-group list-group-horizontal gap-4">
            <li class="list-group-item">
                <a routerLink="formEvent">Form Event</a>
            </li>
            <li class="list-group-item">
                <a routerLink="interval" class="">Interval</a>
            </li> 
            <li class="list-group-item">
                <a routerLink="ofFrom">Of From</a>
            </li>
            <li class="list-group-item">
                <a routerLink="formEvent">Form Event</a>
            </li>
        </ul>
    </div>
</div>